{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
	<div class="container" id="topdiv4">
		<nav class="navbar navbar-light bg-light">
			<a href="{{ url_for('index')}}"><span class="navbar-brand mb-0 h1">View all Products</span></a>
			<a class="btn btn-outline-info my-2 my-sm-0" href="{{url_for('logout')}}">Logout</a>
		</nav>
		{% if message %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endif %}
		<div class="row" id="index1">
			<div class="col-sm-6">
				<div class="card">
      				<div class="card-body">
        				<h5 class="card-title">Do you want to Add a new Product?</h5>
        				<p class="card-text">Adding new products was never this easy.</p>
        				<button class="btn btn-primary" id="add_new">Click here</button>
      				</div>
    			</div>
  			</div>
	  		<div class="col-sm-6">
	    		<div class="card">
	      			<div class="card-body">
	        			<h5 class="card-title">Do you want to edit your products?</h5>
	        			<p class="card-text">Editting products was never this easy.</p>
	        			<button class="btn btn-primary" id="edit">Click here</button>
	      			</div>
	    		</div>
	  		</div>
		</div>
		<div class="card w-75" id="topdiv2">
			<form class="card-body" action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
				<h5 class="card-title">Add New Item</h5>
				<div class="form-group">
	    			<label for="category">Category</label>
{#	    			<input type="text" class="form-control" name="category" required autofocus>#}
                    <select class="form-control" name=category>
    					<option value="Tea">Tea</option>
    				</select>
	  			</div>
	  			<div class="form-group">
	    			<label for="category">Name</label>
{#	    			<input type="text" class="form-control" name="pro_name" required>#}
                    <select class="form-control" name=pro_name>
    					<option value="Black Tea">Black Tea</option>
                        <option value="Green Tea">Green Tea</option>
                        <option value="White Tea">White Tea</option>
                        <option value="Oolong Tea">Oolong Tea</option>
                        <option value="Yellow Tea">Yellow Tea</option>
                        <option value="Pu-erh Tea">Pu-erh Tea</option>
    				</select>
	  			</div>
{#	  			<div class="form-group">#}
{#	    			<label for="category">Description</label>#}
{#	    			<input type="text" class="form-control" name="description">#}
{#	  			</div>#}
	  			<div class="form-group">
	  				<label for="price">Number of Boxes</label>
    				<select class="form-control" name=price_range>
    					<option value="1">1</option>
					    <option value="2">2</option>
					    <option value="3">3</option>
					    <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
    				</select>
  				</div>
{#	  			<div class="form-group">#}
{#	    			<label for="category">Date</label>#}
{#	    			<input type="text" class="form-control" name="comments">#}
{#	  			</div>#}
	  			<div class="form-group">
	  				<label for="exampleFormControlFile1">Product Image</label>
	    			<input type="file" class="form-control-file" name="image" accept="image/">
	  			</div>
	  			<button type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>
		<div id="topdiv3">
			{% if rows %}
				<div class="row">
					{% for row in rows %}
						<div class="card needspace" style="width: 18rem;">
{#							<img src="{{ url_for('static_dir', path = 'images/'+row.filename) }}" class="card-img-top" alt="...">#}
							<div class="card-body">
			    				<h5 class="card-title">{{row.name}}</h5>
			    				<p class="card-text">{{row.category}}</p>
			  				</div>
			  				<ul class="list-group list-group-flush">
			  					<li class="list-group-item">Date of Order: {{row.description}}</li>
			    				<li class="list-group-item">Number of Boxes: {{row.price_range}}</li>
			    				<li class="list-group-item">Order Status: {{row.comments}}</li>
			  				</ul>
			  				<div class="card-body">
			    				<a href="{{ url_for('edit', pro_id=row.pro_id) }}" class="card-link">Edit Product</a>
			  				</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}